
OnPaper.xcodeproj/project.xcworkspace/xcuserdata/ocean.xcuserdatad/UserInterfaceState.xcuserstate

OnPaper.xcodeproj/project.xcworkspace/xcuserdata/ocean.xcuserdatad/xcdebugger/Expressions.xcexplist
